.aboutme {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 70px;
}

.aboutme__title {
    margin: 0;
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
    border-bottom: 1px solid #000;
    text-align: left;
    font-weight: normal;
}

.aboutme__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme__photo {
    margin-top: 60px;
    margin-bottom: 40px;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
}

.aboutme__info {
    margin-bottom: 70px;
}

.aboutme__name {
    font-size: 30px;
    letter-spacing: -1.2px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
    text-align: start;
}

.aboutme__about {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    text-align: start;
    margin: 0;
    margin-bottom: 20px;
}

.aboutme__description {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 11px;
    line-height: 16px;
    text-align: start;
    margin: 0;
    margin-bottom: 40px;
}

.aboutme__git {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
    margin: 0;
    margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
    .aboutme {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 90px;
    }
    
    .aboutme__title {
        font-size: 22px;
        letter-spacing: -0.88px;
        padding-bottom: 23px;
        text-align: left;
    }
    
    .aboutme__container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 90px;
    }
    
    .aboutme__photo {
        order: 1;
        margin-top: 0;
        margin-bottom: 0;
        width: 255px;
        margin-left: 0;
    }
    
    .aboutme__info {
        order: -1;
        margin-bottom: 0;
    }
    
    .aboutme__name {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    
    .aboutme__about {
        font-size: 12px;
        line-height: 18px;
    }
    
    .aboutme__description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
        margin-right: 49px;
    }
    
    .aboutme__git {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .aboutme {
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 110px;
    }
    
    .aboutme__container {
        margin-bottom: 100px;
    }
    
    .aboutme__photo {
        width: 270px;
    }

    .aboutme__name {
        font-size: 50px;
        line-height: 58px;
        margin-bottom: 18px;
    }
    
    .aboutme__about {
        font-size: 18px;
        line-height: 20px;
    }
    
    .aboutme__description {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 99px;
        margin-right: 270px;
    }
    
}